<header>
  <div class="logo-name">
    <a href="#">Filmatch</a>
  </div>
  <nav>
    <ul class="nav_links">
      <li><a href="#">Sessões</a></li>
      <li><a href="#">Fórum</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
  </nav>
  <a class="btn" href="#">Login</a>
</header>
