<header>
  <div class="logo-name">
    <a href="/movies">Filmatch</a>
  </div>
  <nav>
    <ul class="nav_links">
      <li><a href="/movies">Sessões</a></li>
      <li><a href="/homeforum">Fórum</a></li>
      <li><a href="/suporte">Contato</a></li>
    </ul>
  </nav>
  <a class="btn" href="/login">Login</a>
</header>
