.apresentacao {
  display: flex;
  flex-direction: column;
  width: 44rem;
}

.apresentacao__titulo {
  font-weight: 700;
  font-size: 2rem;
  margin-left: 2rem;
  margin-bottom: 0%;
  text-transform: none;
}

.apresentacao__descricao {
  font-size: 1.2rem;
  padding-left: 2rem;
}

.apresentacao__img {
  display: flex;
  padding-left: 5rem;
  padding-top: 2rem;
}

.poster {
  padding: 0;
  padding-left: 3rem;
}
