<%-include('./partials/head')%>

<body>
    <%-include('./partials/header')%>
    <main class="main__painel__usuario">
        <div class="configuracoes">
            <p><strong>Configuraçoes</strong></p>
            <a class="link__config" href="/perfilUsuario"><p>Geral</p></a>
            <a class="link__config" href="/editarPerfil"><p>Editar Perfil</p></a>
            <a class="link__config" href="/chamadasSuporte"> <p>Chamadas do Suporte</p></a>
        </div>
        <div class="editar__configuracoes">
            <p>Informações sobre você</p>
            <form action="">
                <div class="opcoes__configuracoes">
                <div class="input__dados">
                    <label for="">Sobre Mim</label>
                    <input class="sobre__mim" type="text">
                </div>
                <div class="input__dados">
                    <label for="">Ocupação</label>
                    <input class="input__config" type="text">
                </div>
                <div class="input__dados">
                    <label for="">Interesses e Hobbies</label>
                    <input class="input__config" type="password">
                </div>
                <div class="input__dados">
                    <label for="">Filme Favorito</label>
                    <input class="input__config" type="password">
                </div>
                <div class="button__salvar__config">
                    <button class="button__config">Salvar Informações</button>
                </div>
                </div>
            </form>
        </div>
    </main>
    <%-include('./partials/footer')%>
</body>