<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <main>
      <section>
        <div class="section_title">
          <h2>
            Filmes mais populares
            <img src="/images/icons/clakete.svg" alt="Imagem de Claquete" />
          </h2>
        </div>
        <div class="container">
          <div class="top_movies">
            <div class="movie_item">
              <img src="/images/posters/forrestGump.jpg" alt="Forrest Gump" />
              <div class="title_movie">
                <p>Forrest Gump</p>
              </div>
            </div>

            <div class="movie_item">
              <img
                src="/images/posters/hpDh2.jpg"
                alt="Harry Potter e As Reliquias da morte pt 2"
              />
              <div class="title_movie">
                <p>Harry Potter e As Reliquias da morte pt 2</p>
              </div>
            </div>

            <div class="movie_item">
              <img src="/images/posters/spiderMan.jpg" alt="Homem Haranha" />
              <div class="title_movie">
                <p>Homem Haranha</p>
              </div>
            </div>

            <div class="movie_item">
              <img src="/images/posters/starWars.jpg" alt="Star Wars" />
              <div class="title_movie">
                <p>Star Wars</p>
              </div>
            </div>

            <div class="movie_item">
              <img
                src="/images/posters/captainAmerica.jpg"
                alt="Capitão América"
              />
              <div class="title_movie">
                <p>Capitão América</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="section_title">
          <h2>
            Próximas sessões
            <img
              src="/images/icons/calendar.svg"
              alt="Imagem de calendário"
              class="img_title"
            />
          </h2>
        </div>
        <div class="container">
          <div class="next_session">
              <div class="session">
                <div>
                  <p>Filme</p>
                  <p>00:00</p>
                </div>
                <div>
                  <a href="#" class="btn">Juntar-se</a>
                  <p>00/00</p>
                </div>
              </div>

              <div class="session">
                <div>
                  <p>Filme</p>
                  <p>00:00</p>
                </div>
                <div>
                  <a href="#" class="btn">Juntar-se</a>
                  <p>00/00</p>
                </div>
              </div>

              <div class="session">
                <div>
                  <p>Filme</p>
                  <p>00:00</p>
                </div>
                <div>
                  <a href="#" class="btn">Juntar-se</a>
                  <p>00/00</p>
                </div>
              </div>

              <div class="session">
                <div>
                  <p>Filme</p>
                  <p>00:00</p>
                </div>
                <div>
                  <a href="#" class="btn">Juntar-se</a>
                  <p>00/00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
