<%-include('./partials/head')%>

<body>
    <%-include('./partials/header')%>
    <main class="main__perfil">
    <div class="fundo__perfil">
        <div class="info__perfil">
            <img class="img__perfil" src="/images/imagens-perfil/Group 8.svg" alt="">
            <p class="background__info">LOREM</p>
            <p class="background__info">Membro desde Nov,2021 </p>
            <button class="botao__perfil">Seguir</button>
        </div>
        <div class="seguidores__perfil">
            <p>Seguidores: 0</p>
            <p>Seguindo: 0</p>
            <p>Discussões criada: 0</p>
            <p>Contribuiçoes no Fórum: 0</p>
        </div>
        <div class="conteudo__perfil">
            <div class="sobreMim__Perfil">
                <p>Sobre mim</p>
                <input class="input__sobre" type="text">
                <p>Ocupação</p>
                <input class="input__ocupacao" type="text">
                <p>Interesses e Hobbies</p>
                <input class="input__interesses" type="text">
                <p>Filme Favorito</p>
                <input class="input__filme" type="text">
                <p>Aniversário</p>
                <input class="input__aniversario" type="date">
            </div>
            <div class="atividades__recentes">
                <div class="atividades__forum__perfil">
                    <p>Atividades Recentes</p>
                </div>
                <div class="atividades__forum" >
                    <img
                    class="user__forum"
                      src="/images/imagens-resultado-filmes/imagemUserForum.svg"
                      alt=""
                    />
                    <div class="titulo__topico">
                      <p class="nome__forum">Titulo do tópico</p>
                      <p class="nome__forum">Nome do fórum que se encontra o tópico</p>
                      <p class="conteudo__forum">
                        Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota
                        uma pinga aí cumpadi! Praesent vel viverra nisi. Mauris aliquet nunc
                        non turpis scelerisque, eget...
                      </p>
                    </div>
                  </div>
                  <div class="horario__forum">
                    <p>27/11/2021 | 12:12</p>
                    <button class="botao__forum" >Ver mais</button>
                  </div>
                  <div class="atividades__forum" >
                    <img
                    class="user__forum"
                      src="/images/imagens-resultado-filmes/imagemUserForum.svg"
                      alt=""
                    />
                    <div class="titulo__topico">
                      <p class="nome__forum">Titulo do tópico</p>
                      <p class="nome__forum">Nome do fórum que se encontra o tópico</p>
                      <p class="conteudo__forum">
                        Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota
                        uma pinga aí cumpadi! Praesent vel viverra nisi. Mauris aliquet nunc
                        non turpis scelerisque, eget...
                      </p>
                    </div>
                  </div>
                  <div class="horario__forum">
                    <p>27/11/2021 | 12:12</p>
                    <button class="botao__forum" >Ver mais</button>
                  </div>
            </div>
        </div>
    </div>
    </main>
    <%-include('./partials/footer')%>
</body>

