<%-include('./partials/head')%>

<body>
    <%-include('./partials/header')%>
    <main class="main_tudo">
        <div class="main__resultado__busca">
            <div>
                <p>Resultado da busca <strong>"Quentin Tarantino"</strong></p>
                <p>5 resultados encontrados</p>
            </div>
            <div class="poster__Django">
            
                <div class="titulo__poster">
                    <p>Django</p>
                    <p>Quentin Tarantino</p>
                    <p>2012 - ação</p>
                    <p>2h-45m</p>
                    <button class="botao__seila">Ver mais</button>
                </div>
            </div>
        </div>
    </main>
    <%-include('./partials/footer')%>
</body>