.busca{
    width: 100%;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 0.3rem;
    display: flex;
    font-size: 1.5rem;
    height: 55rem;
    line-height: 1.9rem;
    padding: 3rem;
    
}


.posters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    border-right: 1px solid grey;
}

.filme__busca{
    width: 50%;
    height: 300px;
    display: flex;
    gap: .625rem;
}

.img-poster img{
    width: 150px;
}

.info-poster{
    font-size: 12px;
}

 
 main{
     padding: 10px 10%;
 }

 .busca{
     display: flex;
 }

 .section_title{
     margin-left: 30px;
     display: flex;
     flex-direction: column;
 }

 .next_session{
     display: flex;
     flex-direction: column;
 }

 .session{
     margin-bottom: 30px;
 }


