@media screen and (max-width: 480px){
    .main__resultado{
        flex-direction: column;
    }

    .poster__resultado{
        margin-left: 0.5rem;
    }

    .sinopse{
        margin-left: 1rem;
        height: 22rem ;
        width: 25rem !important;
    }

    .proximas__sessoes{
        margin-left: 1rem;
        width: 26rem !important;
    }

    .proxima__sessao{
        width: 18rem;
    }

    .botao__sessoes{
        height: 2rem;
        margin-left: 6rem !important;
        width: 13rem;

    }

    .linha__vertical{
        display: none;
    }

    .forum__resultado{
        height: 52rem !important;
        margin-left: 1rem;
        width: 26rem !important;
    }
}