.sobreMim__Perfil{
    border-radius: 5px;
    background: rgba(196, 196, 196, 0.1);
    height: 38rem;
    margin-top: 1.8rem;
    padding: 1rem;
    width: 25rem ; 
    display: flex;
    flex-direction: column;
 }
 
 .input__sobre{
     background-color: #484848;
     border: none;
     border-radius: 5px;
     color: #f5f4f3;
     height: 7rem;
     width: 22rem;
 }
 
 .input__ocupacao{
     background-color: #484848;
     border: none;
     border-radius: 5px;
     color: #f5f4f3;
     height: 3.7rem;
     width: 22rem;
 }
 
 .input__interesses{
     background-color: #484848;
     border: none;
     border-radius: 5px;
     color: #f5f4f3;
     height: 3.7rem;
     width: 22rem;
 }
 
 .input__filme{
     background-color: #484848;
     border: none;
     border-radius: 5px;
     color: #f5f4f3;
     height: 1.3rem;
     width: 22rem;
 }
 
 .input__aniversario{
     background-color: #484848;
     border: none;
     border-radius: 5px;
     color: #f5f4f3;
 }

 .alterar__perfil{
    margin-left: 4rem;
    background-color: #8e0e00;
    border: none;
    border-radius: 5px;
    height: 2rem;
    color: white;
    width: 8rem;
    font-family: 'poppins';
    margin-left: 8rem;
 }

 .alterar__perfil:hover{
    background-color: var(--white-light);
    color: var(--main-light);
    opacity: 0.8;
 }